<%- include ../layouts/header.ejs %> <% if (messages.error) { %>
<p style="color:red"><%- messages.error %></p>
<% } %> <% if (messages.success) { %>
<p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/users/add" method="post" name="form1">
  <div class="row">
    <div class="input-field col s12">
      <input
        id="name"
        type="text"
        class="validate"
        type="text"
        name="name"
        value="<%= name %>"
      />
      <label for="name">Name</label>
    </div>
    <div class="input-field col s12">
      <input
        id="age"
        type="text"
        class="validate"
        type="text"
        name="age"
        value="<%= age %>"
      />
      <label for="age">Age</label>
    </div>
    <div class="input-field col s12">
      <input
        id="email"
        type="text"
        class="validate"
        type="text"
        name="email"
        value="<%= email %>"
      />
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12">
      <input type="submit" class="btn" name="Submit" value="Add" />
    </div>
  </div>
</form>

<%- include ../layouts/footer.ejs %>
